In [7]:
from flask import Flask, render_template
from bs4 import BeautifulSoup as bs 
import requests

## NASA Mars News
Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the texts to variables that can be referenced later

In [2]:
# Send a GET request, convert the HTML to plain text and store that in 'response'.
response = requests.get("https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest").text

In [3]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(response, 'html.parser')

In [4]:
# Extract HTML structure from parent element
news_parent = soup.find_all('div', class_='slide')

# Preview the first result in the list
news_parent[0]

<div class="slide">
<div class="image_and_description_container">
<a href="/news/8659/alabama-high-school-student-names-nasas-mars-helicopter/">
<div class="rollover_description">
<div class="rollover_description_inner">
Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.
</div>
<div class="overlay_arrow">
<img alt="More" src="/assets/overlay-arrow.png"/>
</div>
</div>
<img alt="Alabama High School Student Names NASA's Mars Helicopter" class="img-lazy" data-lazy="/system/news_items/list_view_images/8659_1-PIA23883-MAIN-320x240.jpg" src="/assets/loading_320x240.png"/>
</a>
</div>
<div class="content_title">
<a href="/news/8659/alabama-high-school-student-names-nasas-mars-helicopter/">
Alabama High School Student Names NASA's Mars Helicopter
</a>
</div>
</div>

In [5]:
news_title = soup.find_all('div', class_='content_title')
latest_news_title = news_title[0].a.text

In [6]:
news_paragraph= soup.find_all('div', class_='rollover_description_inner')
latest_news_paragraph = news_paragraph[0].get_text()

In [7]:
print(f"Latest News Title: {latest_news_title} {latest_news_paragraph}")

Latest News Title:
Alabama High School Student Names NASA's Mars Helicopter

Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

## JPL Mars Space Images - Featured Image
Use splinter to navigate the JPL Featured Space Image site and find the image url for the current Featured Mars Image

In [1]:
from splinter import Browser

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [4]:
# Navigate to Featured Image url
browser.click_link_by_partial_text('FULL IMAGE')

In [5]:
current_html = browser.html

In [8]:
# Create BeautifulSoup object of page currently on browser
image_soup = bs(current_html, 'html.parser')

In [10]:
# Use Beautiful Soup's find() method to navigate and retrieve image attributes
partial_img_url = image_soup.find('img', class_='fancybox-image')["src"]
partial_img_url

'/spaceimages/images/mediumsize/PIA17794_ip.jpg'

In [11]:
featured_image_url = "https://www.jpl.nasa.gov" + partial_img_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17794_ip.jpg

In [12]:
browser.quit()

## Mars Weather
Visit the Mars Weather twitter account and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report.

In [45]:
from selenium import webdriver
driver = webdriver.Chrome()
driver.get('https://twitter.com/marswxreport?lang=en')

In [22]:
html = driver.page_source
driver.close()

In [23]:
# Parse HTML with Beautiful Soup
twitter_soup = bs(html, 'html.parser')

In [24]:
# Find all the tweets on the page
latest_tweets = twitter_soup.find_all('span', class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0')

# Preview the first result in the list
latest_tweets[0]

In [25]:
tweet_list = []
for tweet in latest_tweets:

    tweet_list.append(tweet.text)

print(tweet_list)

['Log in', 'Sign up', 'See new Tweets', 'Follow', 'Mars Weather', 'Mars Weather', '@MarsWxReport', 'Updates as avail from the REMS weather instrument aboard ', '.  Data credit: Centro deAstrobiologia, FMI, JPL/NASA, Not an official acct.', 'Gale Crater, Mars', 'Gale Crater, Mars', '51', 'Following', '57.2K', 'Followers', 'Tweets', 'Tweets & replies', 'Media', 'Likes', 'Tweets', 'Tweets & replies', 'Media', 'Likes', 'Mars Weather', 'Mars Weather', '@MarsWxReport', '·', 'InSight sol 535 (2020-05-29) low -91.3ºC (-132.4ºF) high -2.7ºC (27.2ºF)\nwinds from the SW at 5.2 m/s (11.5 mph) gusting to 16.7 m/s (37.3 mph)\npressure at 7.20 hPa', '8', '29', 'Mars Weather', 'Mars Weather', 'NASA Goddard', 'NASA Goddard', '@NASAGoddard', '·', 'Check out the first map of Mars electric currents.\n\n', ' ', ' ', ' ', '42', '1K', '4.1K', 'Mars Weather', 'Mars Weather', '@MarsWxReport', '·', 'InSight sol 534 (2020-05-27) low -92.8ºC (-135.1ºF) high 0.9ºC (33.7ºF)\nwinds from the SW at 4.8 m/s (10.8 mph) gusting to 18.8 m/s (42.1 mph)\npressure at 7.20 hPa', '5', '19', 'Mars Weather', 'Mars Weather', '@MarsWxReport', '·', 'InSight sol 533 (2020-05-27) low -92.8ºC (-135.1ºF) high -6.7ºC (19.9ºF)\nwinds from the SW at 6.4 m/s (14.2 mph) gusting to 21.3 m/s (47.5 mph)\npressure at 7.20 hPa', '1', '5', '23', 'Mars Weather', 'Mars Weather', 'Fraser Cain', 'Fraser Cain', '@fcain', '·', "Mars doesn't have much of a magnetosphere, but here's a map -  ", '13', '39', 'New to Twitter?', 'Sign up now to get your own personalized timeline!', 'Sign up', 'You might like', 'NASA InSight', 'NASA InSight', '@NASAInSight', 'Follow', 'HiRISE: Beautiful Mars (NASA)', 'HiRISE: Beautiful Mars (NASA)', '@HiRISE', 'Follow', 'Weird Science', 'Weird Science', '@weird_sci', 'Follow', 'Show more', 'What’s happening', 'US news', '·', 'LIVE', "Minnesota governor authorizes ‘full mobilization’ of the state's National Guard", 'COVID-19', '·', 'LIVE', 'COVID-19: Updates for the US', 'Politics · Trending', 'MAGA NIGHT', '53.7K Tweets', 'Trending in United States', 'Hitler Youth', '25.6K Tweets', 'Trending in United States', 'Bloody Sunday', '8,208 Tweets', 'Show more', 'Terms', 'Privacy policy', 'Cookies', 'Ads info', '© 2020 Twitter, Inc.']

In [26]:
# Find weather tweet using keyword, store the first result as the latest weather tweet
keyword = 'InSight'
weather_tweet = [i for i in tweet_list if keyword in i] 
mars_weather = weather_tweet[0]
mars_weather

'InSight sol 535 (2020-05-29) low -91.3ºC (-132.4ºF) high -2.7ºC (27.2ºF)\nwinds from the SW at 5.2 m/s (11.5 mph) gusting to 16.7 m/s (37.3 mph)\npressure at 7.20 hPa'

## Mars Facts
Visit the Mars Facts webpage and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

In [27]:
import pandas as pd

In [28]:
mars_facts_url = 'https://space-facts.com/mars/'

In [29]:
tables = pd.read_html(mars_facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [30]:
mars_facts_df = tables[0]
mars_facts_df.head(3)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)

In [31]:
# Rename column names
mars_facts_df.columns = ['Description','Value']

In [32]:
mars_facts_df.set_index('Description', inplace=True)

In [33]:
mars_facts_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

## Mars Hemispheres
Visit the USGS Astrogeology site to obtain high resolution images for each of Mars' hemisphere

In [38]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [39]:
mars_hemisphere_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(mars_hemisphere_url)

In [40]:
# Store HTML Object
hemisphere_html = browser.html

In [41]:
# Create BeautifulSoup object; parse with 'html.parser'
hemisphere_soup = bs(hemisphere_html, 'html.parser')

In [42]:
# Use Beautiful Soup's find_all() method to navigate and retrieve image attributes
hemisphere_img_class = hemisphere_soup.find_all('div', class_='item')

# Preview the first result in the list
hemisphere_img_class[0]

<div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p></div> <!-- end description --></div>

In [43]:
main_url = "https://astrogeology.usgs.gov"
hemisphere_image_urls = []

for i in hemisphere_img_class:
    img_title = i.find('h3').text
    partial_img_url = i.find('a', class_='itemLink product-item')['href']

    # Visit link that contains full-sized image
    browser.visit(main_url+partial_img_url)

    # Store html from page visited
    img_html = browser.html
    
    # Create BeautifulSoup object; parse with 'html.parser'
    img_soup = bs(img_html, 'html.parser')
    
    # Retrieve image url
    individual_img_partial_url = img_soup.find('img', class_='wide-image')['src']
    
    # Attach partial link to main url
    individual_img_url = main_url + individual_img_partial_url

    # Append information into a list of dictionaries 
    hemisphere_image_urls.append({"title" : img_title, "img_url" : individual_img_url})
    
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [44]:
browser.quit()

In [47]:
# !pip install flask_pymongo